body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    background-color: rgba(248, 246, 248, 0.9);
    flex: 2;
    overflow-y: auto
    
}

article img {
    width: 700px;
}

aside {
    flex: 1;
    overflow-y: auto
}

